html, body {
    margin:0;
    padding:0;
    text-align:center;
}

a {
   text-decoration: none;
}

li {
    list-style-type: none;
}

h1 ,h2 ,a{
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    color:#494949;
    text-transform:uppercase;
}
