html {
  background-color: rgb(255, 250, 250);
}
h1 {
 font-family: 'Anton', sans-serif;
}
p {
  font-family: 'PT Sans', sans-serif;
}
*{background-color: 
.Affe{
  color=#FFFAFA
}
.container {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    grid-template-columns: 12% 22% 22% 22% 22%;
    grid-template-areas:
        "header header header header header"
        "sidebar content content content content"
        "footer footer footer footer footer"
    ;
}
